.message-game-over {
    z-index: 3;
    // display: none;
    position: fixed;
    text-align: center;
    border-radius: 25px;
    
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: rgba(59, 82, 53, 0.97);
   
    top: 50%; // Start at the vertical center
    left: 50%; // Start at the horizontal center
    transform: translate(-50%, 100vh); // Initially off-screen, centered horizontally
    opacity: 0; // Start fully transparent
  
    span {
        font-size: 1.3em;

    }

    &.x-winner {display: flex;}
    &.o-winner {display: flex;}
    &.draw {display: flex;}


    // .message {   
    //     justify-content: center;
    //     align-items: center;
    //     color: yellow;
    //     font-size: 6rem;
    // }
    
    // .message.display-win {
    //     display: flex;
    //     background-color: rgba(59, 82, 53, 0.97);
    //     color: yellow;
    // }
    
    // .message.display-draw {
    //     display: flex;
    //     background-color: rgba(52, 66, 114, 0.97)
    // }

    #btn-play-again {
        padding: 8px 15px;
        border-radius: 10px;
        background-color: grey;
       
        font-size: 0.9em;
        cursor: pointer;
        
    }
}