.player-edit-overlay {
    z-index: 3;
    display: none;
    position: fixed;
    text-align: center;
    border-radius: 25px;
    top: 20%;
    left: 35%;
    right: 35%;
    bottom: 20%;
    text-align: center;
    padding: 10px;
    font-size: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: rgb(22, 96, 87);

    .two-player-form, .one-player-form {
        flex-direction: column;
        gap: 50px;
    }

    .x-edit, .o-edit {
        flex-direction: column;
        gap: 10px;

        svg {
            fill: white;
            // margin-bottom: -4px;
            scale: 1.25;
        }

        // input {
        //     display: flex;
        //     flex-direction: row;
        // }

        input[type=text] {
            display: flex;
            align-items: center;
            font-size: 1rem;
            padding: 7px;
            padding-left: 10px;
            border-radius: 10px;
            background-color: transparent;
            color: white;
            border: 1px solid white;
            outline: none;
        }

    }

    #btn-close-form {
        position: absolute;
        background-color: transparent;
        border: none;
        top: 20px;
        right: 20px;
        font-size: 2rem;
        cursor: pointer;

        svg {
            fill: black;
           
        }

        &:hover {
            transition: 0.3s;
            svg:hover {
                transform: scale(1.1);
                transition: 0.3s;
                
            }
        }
    }

    &.show {
        display: flex;
    }

    #btn-save-form {
        background-color: transparent;
        font-size: 1rem;
        padding: 5px 10px;
        border: 1px solid white;
        border-radius: 10px;
        color: white;
        cursor: pointer;

        &:hover {
            background-color: var(--bg-ttt);
            transition: 0.5s;   
        }
    }

 
}