.settings {
    margin-left: 15px;
    gap: 1rem;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    
    button {
        background-color: black;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 2.5rem;
        background-color: transparent;

        svg:hover {
            transform: scale(1.1);
            transition: 0.3s;
        }

        #retrieve-icon {
            scale: 0.90;
        }

        #icon-reset:hover {
            color: rgb(64,200,225);
        }
        
        #mute-icon:hover, #sound-icon:hover {
            color:rgb(237, 237, 122);
        }
        
        #save-icon:hover {
            color: rgb(238, 131, 184);
        }
        
        #retrieve-icon:hover {
            color: rgb(163, 117, 205)
        }
    }
}