.settings {
    margin-left: 15px;
    gap: 1rem;

    button {
        background-color: black;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 2rem;
        background-color: transparent;

    }
}