.tictactoe {
    flex-direction: column;
    gap: 1rem;

    .scores {
        flex-direction: column;
        gap: 1rem;

        .scores-top {
            flex-direction: row;
            gap: 25px;

            #btn-edit {
                background-color: transparent;
                cursor: pointer;
                color: white;
                width: 30px;
                height: 30px;
                border: none;
    
                font-size: 1.4rem;
    
                svg {
                    fill: white;
                }
    
                svg:hover {
                    transform: scale(1.1);
                    transition: 0.3s;
                }
            }

            .score-x, .score-o {
                flex-direction: row;
                gap: 10px;
                font-size: 1.25rem;

                svg {
                    fill: white;
                    margin-bottom: -4px;
                    scale: 1.25;
                }
            }
        }

       
        
        .scores-bottom {
            flex-direction: row;
            gap: 25px;

            .draws, .games-played {
                flex-direction: row;
                gap: 10px;
                font-size: 1.25rem;
            }
        }


        
    }
}
